		<div class="container-fluid footer">
			<div class='container d-flex justify-content-between'>
				<div class="logo"><img src="/images/m-fly-logo.png" alt="logo"></div>
				<div class="social"><i class="ti ti-brand-facebook"></i> <i class="ti ti-brand-twitter"></i> <i
						class="ti ti-brand-instagram"></i> </div>
			</div>
		</div>